* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    display: flex;
}

.wrapper {
    position: absolute;
}

.banner__image {
    width: 100%;
    height: 100%;
}

.collection__image {
    width: 100%;
    height: 100%;
}