* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text__center {
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    justify-content: space-between;
    padding: 20px;
}

header{
    position: relative;
    height: 600px;
}

.logo {
    width: 160px;
    height: 40px;
    object-fit: contain;
    margin-left: 40px;
}

.search__icon {
    width: 22px;
    height: 22px;
}

.menu__item {
    margin: 40px; 
    position: relative;
    list-style: none;
}

.menu__item a {
    color: #fff;
}

.banner {
    position: relative;
    padding: 70px;
}

.wrapper {
    margin-top: 60px;
}

.wrapper__title{
    font-size: 50px;
    color: #fff;
}

.wrapper__p {
    color: #fff;
}

.banner__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0%;
    left: 0%;
    z-index: -1;
}

.button {
    background-color: transparent;
    border-color: #fff;
    border: solid;
    border-width: thin;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
}

.favorites__container {
    justify-content: space-between;
}

.favorites__column {
    width: 30%;
}

.favorites__column img {
    width: 100%;
    height: 512px;
    object-fit: contain;
}

.favorites {
    padding: 90px;
    color: #282828;
    position: relative;
}

.favorites__description {
    margin: 20px;
    color: #939393;
}

.collection {
   position: absolute;
   padding: 120px;
   width: 100%;
}

.conteiner__text{
    width: 100%;
}

.collection__title {
    color: #fff;
    margin: 20px;
}

.collection__p {
    color: #fff;
}

.collection__b {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.collection__image {
    width: 100%;
    height: 435px;
    z-index: -1;
}

.carousel__title {
    padding-top: 80px;
    padding-bottom: 20px;
}

#items__carousel{
    height: 500px;
    overflow: hidden;
}

#items__carousel h2 {
    position: relative;
    color: #282828;
}

.carousel {
   height: 100%;
   position: relative;
   padding-bottom: 60px;
}

.carousel__card {
    height: 100%;
}

.carousel__card img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel__arrows{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.carousel__arrows img {
    width: 20px;
    height: 30px;
}

#card-1 {
    background-color: #fff;
}

#card-2 {
    background-color: #fff;
}

#card-2 {
    background-color: #fff;
}

.form__image {
    width: 100%;
    height: 435px;
    z-index: -1;
}

.contact {
    position: absolute;
    padding-top: 30px;
}

.contact__text {
    padding-left: 60px;
    margin-right: 190px;
}

.contact__p {
    color: #fff;
    padding-top: 170px;
}

.contact__title {
    color: #fff;
    padding-top: 30px;
}

#form {
    background-color: #fff;
    padding: 60px;
}

.form__item {
    margin-bottom: 10px;
}

.form__b {
    background-color: #fff;
    border-color: #4b4b4b;
    border: solid;
    border-width: thin;
    color: #787878;
    padding: 10px 30px;
    margin-top: 20px;
}

.form__p {
    color: #C5C5C5;
    font-size: 10px;
}

.footer {
    background-color: black;
}

.footer__logo {
    width: 146px;
    height: 36;
}

.footer__column {
    padding: 10px;
    margin: 40px;
    list-style: none;
    color: #fff;
}

.footer__column li {
    margin-bottom: 10px;
}

.footer__title {
    margin-bottom: 15px;
}

.footer__info {
    justify-content: center;
    width: 100%;
}

.social__media {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.social__media div{
    width: 100%;
    align-items: center;
    text-align: center;
}

.social__media img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}