
    .remove__item{
        background-color: transparent;
        border: none;
        margin-right: 10px;
        color: #ccc;
    }

    .add__item{
        margin-left: 10px;
        background-color: transparent;
        border: none;
        color: #ccc;
    }
