.forms{
    display: flex;
    flex-direction: column;
    margin: 10%;

    h2 {
        padding-bottom: 20px;
    }
    
}

input {
    background-color: transparent;
    border-color: #fff;
    border: solid;
    border-width: thin;
    color: rgb(117, 117, 117);
    padding: 7px;
    border-radius: 5px;
    }

select {
    background-color: transparent;
    border-color: #fff;
    border: solid;
    border-width: thin;
    color: rgb(117, 117, 117);
    padding: 7px;
    border-radius: 5px;
    }