@import "color";
@import "forms";

.cart{

    & .product{
        background-color:rgb(247, 245, 246);
        font-size: 13px;
        display: flex;
        height: 16vh;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        
        & img{
            width: 4%;
        }

    }

    &__banner{
        display: flex;
        height: 30vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: url("../img/bannerCart.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        & h2{
            color: #fff;
        }
    }
}

.product{

    button{
        background-color: transparent;
        border-color: #fff;
        border: solid;
        border-width: thin;
        color: rgb(117, 117, 117);
        padding: 5px;
        margin-right: 15px;
        }
}

.counter{
    display: flex;
    align-items: center;
}

.money{
    width: 100%;
    display: flex;
    margin: 10%;
    font-size: 18px;
    margin-top: 2.5%;
}

.title {
    display: flex;
    margin: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#cart.cart{
    width: 97%;
}