@import "color";
@import "return";
@import "anchor";
@import "arrow";
@import "counter";

.product{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;
    &__assets{
        width: 50%;
        display: flex;
    }

    &__info{
        width: 50%;

        & > *{
            margin-left: 20px;
        }
    }
    &__mainImage{
        height:100%;
        margin-left: 20px;
    }

    &__gallery{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;

        & > *{
            height: 15%;
            width: 100%;
            background-color: #ccc;
        }
    }

    &__images{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }

    &__name{
        padding-top: 5%;
    }

    &__description{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 80%;
        color: rgb(147, 147, 147);
    }

    &__cart{
        background-color: transparent;
        border-color: #fff;
        border: solid;
        border-width: thin;
        color: rgb(117, 117, 117);
        padding: 7px 20px;
        border-radius: 5px;
    }
}