@import "color";
@import "products";

.extra{
    margin: 5%;
    display: flex;
    justify-content: right;

    & .btn__add{
        width: 50px;
        height: 50px;
        color: white;
        background-color: black;
    }
}

#categories {
    color: rgb(117, 117, 117);;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: center;

    select {
        background-color: transparent;
        border-color: #fff;
        border: solid;
        border-width: thin;
        color: rgb(117, 117, 117);
        padding: 5px;
        margin-right: 15px;
        }

        label {
            margin-right: 15px;
        }
}
